/* Estilos personalizados para las notificaciones toast */
:root {
    --toastify-color-success: #4caf50;
    --toastify-color-error: #f44336;
}

.custom-toast {
    border-radius: 8px;
    padding: 16px;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.custom-toast-success {
    background-color: var(--toastify-color-success);
}

.custom-toast-error {
    background-color: var(--toastify-color-error);
}

.toast-icon {
    font-size: 20px;
}

.toast-message {
    margin: 0;
}