/* =================================
    TABLE OF CONTENTS
    1. Imports
    2. CSS Variables
    3. Global Styles
    4. Container Styles
    5. Information Section
    6. Form Section
    7. Button Styles
    8. Alert Styles
    9. Utility Classes
    10. Media Queries
   ================================= */

/* =================================
    1. IMPORTS
   ================================= */
@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

/* =================================
    2. CSS VARIABLES 
  ================================= */
:root {
  --primary-color: rgb(236, 190, 8);
  --text-color: #000;
  --background-color: #ffffff;
  --button-text-color: #fff;
  --input-background: #fff;
  --input-text-color: #333;
  --icon-color: #a7a7a7;
  --error-color: #f51414;
  --success-color: #0ca828;
  --box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);
  --border-radius: 20px;
  --transition-speed: 0.3s;
}

/* =================================
    3. CONFIGURACIÓN GLOBAL
  ================================= */
body {
  background-color: var(--background-color);
}

/* =================================
    4. CONTAINER STYLES
  ================================= */
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container-form {
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  transition: all 1s ease;
}

/* =================================
    5. INFORMATION SECTION
  ================================= */
.information {
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: url("../../../../assets/client/videos/login/loginClient.gif");
  background-size: cover;
  background-position: center;
}

.info-childs {
  width: 100%;
  padding: 0 30px;
  color: var(--button-text-color);
  font-weight: 560;
}

.info-childs h1 {
  font-size: 3.5rem;
  font-family: 'Lily Script One', cursive;
  color: var(--button-text-color);
  font-weight: 500;
}

.info-childs p {
  margin: 15px 0;
}

/* =================================
    6. FORM SECTION
  ================================= */
.form-information {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  text-align: center;
  background-color: var(--background-color);
}

.form-information-childs {
  padding: 0 30px;
}

.form-information-childs h2 {
  font-size: 2rem;
  color: var(--text-color);
}

.form-information-childs p {
  font-size: 0.8rem;
  margin: 1rem 0;
  font-weight: 500;
  color: var(--text-color);
}

.form {
  margin: 30px 0 0 0;
}

.form label {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: var(--input-background);
  box-shadow: var(--box-shadow);
  min-width: 20rem;
}

.form label input {
  width: 100%;
  padding: 10px;
  background-color: var(--input-background);
  border: none;
  outline: none;
  color: var(--input-text-color);
}

.form label i {
  color: var(--icon-color);
}

.form label:focus-within {
  border: 1px solid var(--primary-color);
  box-shadow: 0 4px 12px rgba(236, 190, 8, 0.25);
  padding: 0 5px;
}

/* =================================
    7. BUTTON STYLES
  ================================= */
.info-childs input,
.form input[type="submit"],
.rol-button,
.google-button {
  font-weight: bold;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color var(--transition-speed) ease, transform var(--transition-speed) ease;
  min-width: 20rem;
}

.info-childs input {
  background-color: transparent;
  border: 2px solid var(--button-text-color);
  color: var(--button-text-color);
}

.form input[type="submit"] {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  padding: 10px 90px;
  margin-top: 10px;
  box-shadow: var(--box-shadow);
}

.rol-button,
.google-button {
  width: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--box-shadow);
}

.google-icon {
  margin-right: 1rem;
}

/* =================================
    8. ALERT STYLES
  ================================= */
.alerta {
  text-align: center;
  border-radius: var(--border-radius);
  margin-bottom: 10px;
  font-size: 0.8rem;
  color: var(--button-text-color);
  padding: 0.5rem 1rem;
  margin-top: 20px;
  font-weight: 500;
}

.alerta-error {
  background-color: var(--error-color);
}

.alerta-exito {
  background-color: var(--success-color);
}

/* =================================
    9. UTILITY CLASSE
  ================================= */
.hide {
  position: absolute;
  transform: translateY(-300%);
}

/* =================================
    9. MEDIA QUERIES
  ================================= */
@media (hover: hover) {
  .info-childs input:hover,
  .form input[type="submit"]:hover,
  .rol-button:hover,
  .google-button:hover {
    background-color: var(--text-color);
    border: none;
    color: var(--button-text-color);
    box-shadow: var(--box-shadow);
    transform: scale(1.02);
  }
}

.info-childs input:active,
.form input[type="submit"]:active,
.rol-button:active,
.google-button:active {
  background-color: var(--text-color);
  transform: scale(0.98);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 750px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 580px) {
  html, body {
    height: 100%;
    font-size: 15px;
  }

  .container-form {
    flex-direction: column;
  }

  .information, .form-information {
    width: 100%;
    flex-grow: 1;
    height: auto;
    padding: 20px;
  }

  .information {
    background-size: cover;
  }

  .form-information {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}