
.content {
    display: flex; /* Cambiamos a grid */
    width: 100vw; /* Ancho del contenedor principal */
    height: 100vh; /* Altura del contenedor principal */
    justify-content: space-between;
}

.section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    place-items: center;
}
