@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    display: flex;
    width: 90vw; /* Ancho del contenedor principal */
    height: 100%; /* Altura del contenedor principal */
}

.section {
    width: 70%;
}

.title-section {
    width: 30%;
    display: flex;
    font-size: 2.5rem;
    transform: rotate(90deg);
    height: 100%; /* Asegura que ocupe el 100% de la altura del contenedor padre */
    align-items: center; /* Alinea el contenido al inicio del div */
    justify-content: center;
}
