@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
}
.home-container-admin{
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* Oculta contenido que sobrepase el contenedor */
}
